// Theme Colors
$sky: #5eb9f0 !default;
$blue: #3f78e0 !default;
$grape: #605dba !default;
$purple: #747ed1 !default;
$violet: #a07cc5 !default;
$pink: #d16b86 !default;
$fuchsia: #e668b3 !default;
$red: #e2626b !default;
$orange: #f78b77 !default;
$yellow: #fab758 !default;
$green: #45c4a0 !default;
$leaf: #7cb798 !default;
$aqua: #54a8c7 !default;
$navy: #343f52 !default;
$ash: #9499a3 !default;
$telegram: #2AABEE !default;
$whatsapp: #00a859 !default;
$vk: #4f7db3 !default;
$vkvideo: #ff2b42 !default;
$google: #e44134 !default;
$facebook: #4470cf !default;
$snapchat: #f7c31a !default;
$odnoklassniki: #EE8208 !default;
$pinterest: #E60023 !default;
$viber: #7360f2 !default;
$rutube: #110944 !default;
$youtube: #c8312b !default;
$yandex-dzen: #060702 !default;
$tiktok: #000000 !default;
$skype: #2ebbf0 !default;
$instagram: #d53581 !default;
$linkedin: #3393c1 !default;
$vkmusic: #f55fff !default;
$frost: #FFFFFF1A !default;

