/**
 * Form Selector Block - Editor Styles
 */

.codeweber-form-selector-block {
    min-height: 100px;
}

.form-preview-placeholder {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}















