// Comment components that are not needed to reduce the file size

// Theme layout & components
@import "reboot";
@import "background";
@import "colored-links";
@import "type";
@import "forms";
@import "buttons";
@import "animations";
@import "dropdown";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "alert";
@import "progress";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "offcanvas";
@import "icons";
@import "counter";
@import "floating-social-widget";
@import "share-buttons";
@import "footer";
@import "overlay";
@import "lightbox";
@import "player";
@import "pricing";
@import "process";
@import "projects";
@import "shapes";
@import "blog";
@import "wrappers";
@import "toast";

// Переопределения для .frost, чтобы использовать правильную прозрачность
// Размещено здесь, чтобы гарантировать, что переопределения идут после всех Bootstrap классов
.border-frost {
  --bs-border-opacity: 0.150;
}

.bg-frost {
  --bs-bg-opacity: 0.150;
}

.text-frost {
  --bs-text-opacity: 0.150;
}